.container-home {
    .lyrics {
        font-family: 'Bilbo', cursive;
        font-size: 3rem;
        text-align: center;
    }
    .copyrights {
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
}